* {
  margin: none;
  padding: none;
  font-family: "Ubuntu", sans-serif;
  --main-bg-color: #0d0d0d;
  --alt-bg-color: #010326;
  --main-text-color: white;
  --accent-color1: #0ff25e;
  --accent-color2: #02590f;
  overflow-x: clip;
  scroll-behavior: smooth;
  /* --main-bg-color: black;
    --main-text-color: white;
    --accent-color1: #892CDC;
    --accent-color2: #BC6FF1; */
}

:root {
  background-color: var(--main-bg-color);
  color: white;
}

#header {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero-image {
  height: 100vh;
  width: auto;
}

.logo {
  margin: 0;
}

.mobile-menu {
  background-color: white;
  border-radius: 15px;
  margin: 1em;
}
